<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Web bag recorder</h1>
    <p>Get information hidden inside your ROS2 bag file</p>
    <p style="text-align: center">
        <form>
            <button formtarget="_blank" formaction="/play_bag">Play bag</button>
        </form>
        <form>
            <button formaction="/list_topics">List all available topics</button>
        </form>
        <form>
            <button formaction="/kill_bag">Stop bag play</button>
        </form>
    </p>
</body>
</html>